@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root{
    --clr-amt: hsl(158, 36%, 37%);
    --bg-body: hsl(30, 38%, 92%);

    --clr-title: hsl(212, 21%, 14%);
    --clr-desc: hsl(228, 12%, 48%);
    --bg-card: hsl(0, 0%, 100%);

    font-size: 14px;

    --ff-desc: 'Montserrat', sans-serif;
    --ff-title: 'Fraunces', serif;

    --fw-regular: 500;
    --fw-bold: 700;
}


*, * ::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body *, body *::before, body *::after{
    display: block;
    
}

body{
    background-color: var(--bg-body);
}

main{
   display: grid;
   place-items: center;
   min-height: 100vh;
   padding: 1.6rem 0.7rem;
   
}

.card{
    border-radius: 10px;
    overflow: hidden;
    max-width: 24.2rem;
    display: flex;
    flex-direction: column;

}

.card_content{
    background-color: var(--bg-card);
    padding: 1.65rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card_img{
    background: url(./images/image-product-mobile.jpg);
    width: 100%;
    height: 17rem;
    background-repeat: no-repeat;
    background-size:cover;
}

.card_item_name{
    font-family: var(--ff-desc);
    text-transform: uppercase;
    color: var(--clr-desc);
    letter-spacing: 0.35rem;
    font-size: 0.8rem;
}

.card_title{
    font-family: var(--ff-title);
    line-height: 2rem;
    font-weight: var(--fw-bold);
    font-size: 2.2rem;
}

.card_desc{
    font-family: var(--ff-desc);
    line-height: 1.6rem;
    color: var(--clr-desc);
    /* font-size: 13.8px; */
}

.card_desc span{
    text-transform: uppercase;
}

.card_item_prices{
display: flex;
flex-direction: row;
gap: 1.3rem;
}

.card_item_cur_price{
    font-family: var(--ff-title);
    font-weight: var(--fw-bold);
    color: var(--clr-amt);
    font-size: 2.2rem;
}

.card_item_prev_price{
    justify-self: center;
    align-self: center;
    color: var(--clr-desc);
    font-family: var(--ff-desc);
    text-decoration: line-through;
}


.card_btn{
    background-color: var(--clr-amt);
    padding: 1rem;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--bg-body);
    font-family: var(--ff-desc);
    font-weight: var(--fw-bold);
}


/*destop view */
@media (min-width: 756px){
    .card{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
                          "left right"
                          "left right";
        max-width: 52rem;
        height: 37rem;
    }

    .card_img{
        background: url(./images/image-product-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        grid-area: left;
       height: 100%;
    }

    .card_content{
        grid-area: right;
        padding: 2.4rem;
        gap: 1.7rem;
    }

    .card_item_name{
        font-size: 0.97rem;
    }

   .card_item_prices{
     padding-block: 0.5rem;
   }
  
    .card_title{
        font-size: 2.9rem;
        line-height: 2.9rem;
    }

   .card_desc{
    line-height: 1.6rem;
   }

   .card_btn{
    padding: 1.5rem;
   }

   .card_btn:hover{
    background-color: hsl(158, 36%, 23%);
   }
}